body, html{
    background: navajowhite;     /* red, blue, yellow, etc */
    color:gray ;             /* red, blue, yellow, etc */
    font-size: 30px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 5px;        /* From 0px and upwards   */
    margin-right:5pc;
    margin-left:5pc;
    display: block;
     
}


h1{
    
}
img{
    width: 400px
} 
input{
    width: 400px;
    width: 400px;
}
button{
    marg: 150px
}
p1{
    width:213px;
}
li {
  display: block;
  text-align: center;
} h1{
    display: block;
}